@mixin clearfix
{
    zoom : 1;

    &:after
    {
        clear   : both;
        display : block;
        height  : 0;
        content : "";
    }
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width : 640px) {
    .wrap
    {
        width : 100%;

        #header-top-area
        {
            border-bottom : 1px solid #4B4F54;
            padding       : 10px;

            h1
            {
                width : 126px;
            }

            h2
            {
                display : none;
            }

            @include clearfix;
        }

        #header-middle-area
        {
            padding-top    : 5px;
            padding-bottom : 5px;
            border-bottom  : 1px solid #4B4F54;
        }

        #header-bottom-area
        {
            display : none;
        }

        #product-menu
        {
            display : block;
            float   : none;

            //.product-type
            //{
            //    &:hover
            //    {
            //        >ul
            //        {
            //            display : block;
            //        }
            //
            //    }
            //}
            &:hover
            {
                .submenu
                {
                    display : block;
                }

            }
        }
    }

    #products-liked-list
    {

        ul
        {
            display        : flex;
            flex-direction : column;

            li
            {
                display : block;
                margin  : 0 auto;
            }

            li:nth-of-type(4), li:nth-of-type(5)
            {
                display : none;
            }

            li:nth-of-type(2)
            {
                order : 2;
            }

            li:nth-of-type(3)
            {
                order : 1;
            }
        }
    }

    #products-suggestions-list
    {
        h3
        {
            font-size : 2em;
        }
        ul
        {
            display        : flex;
            flex-direction : column;

            li
            {
                display : block;
                margin  : 0 auto;
            }

            li:nth-of-type(2), li:nth-of-type(3)
            {
                display : none;
            }
        }
    }

    footer
    {
        height : auto;
        .wrap
        {
            display        : flex;
            flex-direction : column;
            align-items    : center;

            .share
            {
                display         : flex;
                justify-content : center;
                align-items     : flex-end;
                strong
                {
                    color : white;
                }
            }
        }

    }

}
