/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 640px) {
  .wrap {
    width: 100%; }
    .wrap #header-top-area {
      border-bottom: 1px solid #4B4F54;
      padding: 10px;
      zoom: 1; }
      .wrap #header-top-area h1 {
        width: 126px; }
      .wrap #header-top-area h2 {
        display: none; }
      .wrap #header-top-area:after {
        clear: both;
        display: block;
        height: 0;
        content: ""; }
    .wrap #header-middle-area {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #4B4F54; }
    .wrap #header-bottom-area {
      display: none; }
    .wrap #product-menu {
      display: block;
      float: none; }
      .wrap #product-menu:hover .submenu {
        display: block; }
  #products-liked-list ul {
    display: flex;
    flex-direction: column; }
    #products-liked-list ul li {
      display: block;
      margin: 0 auto; }
    #products-liked-list ul li:nth-of-type(4), #products-liked-list ul li:nth-of-type(5) {
      display: none; }
    #products-liked-list ul li:nth-of-type(2) {
      order: 2; }
    #products-liked-list ul li:nth-of-type(3) {
      order: 1; }
  #products-suggestions-list h3 {
    font-size: 2em; }
  #products-suggestions-list ul {
    display: flex;
    flex-direction: column; }
    #products-suggestions-list ul li {
      display: block;
      margin: 0 auto; }
    #products-suggestions-list ul li:nth-of-type(2), #products-suggestions-list ul li:nth-of-type(3) {
      display: none; }
  footer {
    height: auto; }
    footer .wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .wrap .share {
        display: flex;
        justify-content: center;
        align-items: flex-end; }
        footer .wrap .share strong {
          color: white; } }

